.sign-up-container {
  z-index: 1000;
  padding: 140px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in;
}

.sign-up-container > .form > form {
  background-color: transparent;
  background-image: none;
  width: 400px;
}

.sign-up-container > .form > form > input[type="submit"] {
  background-color: yellow;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
}

.sign-up-container > .heading {
  color: orange;
  font-size: 30px;
  font-weight: 200;
}

.sign-up-container > .cancel {
  position: absolute;
  top: 100px;
  right: 40px;
  color: white;
  background-color: orangered;
  padding: 10px 15px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
}


@media only screen and (max-width: 501px){
  .sign-up-container{
    padding: 140px 0px;
  }
}

@media only screen and (max-width: 436px){
  .sign-up-container > .heading {
    font-size: 20px;
  }
}

@media only screen and (max-width: 402px){
  .sign-up-container > .form > form {
    width: 100%;
  }
}