.admission-form .background{
    background-image: url('/public/admission.png');
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}

.admission-form .background::before{
    content: '';
    height: 600px;
    background-color: rgba(0, 0, 0, 0.543);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.submition-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-heading{
    text-align: center;
    padding-block: 20px;
    color: orange;
    font-size: 30px;
    letter-spacing: 2px;
}

.submition-form > form{
    display: grid;
    gap: 40px;
    margin-inline: 40px;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
}

.admission-form .background > h2 {
    color: white;
    padding: 20px;
    font-size: 40px;
    backdrop-filter: blur(20px);
    border: 2px solid yellow;
    letter-spacing: 2px;
  }

.submition-form > form > .fields{
    display: flex;
    flex-direction: column;
}

form > .fields input{
    border: 1px solid gray;
    padding: 10px 5px;
    width: 200px;
    outline: none;
}

form > .fields input[type="date"]{
    color: gray;
}

form > input[type="submit"]{
    background-color: transparent;
    border: 2px solid orange;
    margin-block-start: 10px;
    border-radius: 0;
    cursor: pointer;
    padding: 10px;
    width: 80px;
    margin-block-end: 30px;
}

form > .fields select{
    border: 1px solid gray;
    padding: 10px 5px;
    width: 200px;
    outline: none;
}

@media only screen and (max-width: 936px){
    .submition-form > form{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 700px){
    .submition-form > form{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 626px) {
    .admission-form .background::before {
      height: 400px;
    }
  
    .admission-form .background {
      height: 400px;
    }

    .admission-form .background > h2 {
        padding: 16px;
        font-size: 35px;
      }
  }
  
  @media only screen and (max-width: 553px) {
    .admission-form .background > h2 {
      padding: 13px;
      font-size: 32px;
    }
  }
  
  @media only screen and (max-width: 505px){
      .admission-form .background > h2 {
          padding: 10px;
          font-size: 30px;
      }
  
      .admission-form .background {
          height: 350px;
      }
  
      .admission-form .background::before {
          height: 350px;
      }
  }
  
  @media only screen and (max-width: 473px){
      .admission-form .background > h2 {
          font-size: 26px;
      }
  
      .admission-form .background {
          height: 300px;
      }
  
      .admission-form .background::before {
          height: 300px;
      }

      .submition-form > form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .submition-form > form > .fields > input{
        width: 100%;
    }

    form > .fields select{
        width: 100%;
    }
  }
  
  @media only screen and (max-width: 419px){
      .admission-form .background > h2 {
          font-size: 20px;
      }
      
  }

  @media only screen and (max-width: 351px){
    .admission-form .background > h2 {
        font-size: 17px;
    }

    .form-heading{
        font-size: 22px;
    }
    
}

@media only screen and (max-width: 303px){
    .admission-form .background > h2 {
        font-size: 15px;
    }
}