.donate-rakshak .background{
    background-image: url('/public/back/2.jpg');
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}

.donate-rakshak .background::before{
    content: '';
    height: 600px;
    background-color: rgba(0, 0, 0, 0.543);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.donate-rakshak.background > h2{
    color: white;
    padding: 20px;
    font-size: 40px;
    backdrop-filter: blur(20px);
    border: 2px solid yellow;
    letter-spacing: 2px;
}

.donate-rakshak .main-content-container{
    padding: 30px;
}

.donate-rakshak .main-content-container .content{
    margin-block: 40px;
}

.donate-rakshak .main-content-container .content > h3{
    color: orange;
    font-size: 25px;
    border-bottom: 1px solid rgb(215, 215, 215);
}

.donate-rakshak .main-content-container .content > p{
    margin-top: 20px;
}

.donate-rakshak .main-content-container .content > p > strong{
    color: orangered;
}

.donate-rakshak .main-content-container .content > h4{
    margin-top: 20px;
    color: orangered;
}