.sign-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* margin-block-end: 30px; */
  background-color: rgba(0, 0, 0, 0.517);
  backdrop-filter: blur(20px);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.sign-up > img {
  width: 110px;
}

.sign-up > h2{
  color: white;
  text-transform: uppercase;
  font-size: 40px;
}

.navlinks {
  display: flex;
  list-style: none;
  transition: all 0.3s ease-in-out;
  align-items: center;
  width: 88%;
  position: fixed;
  /* top: 87px; */
  z-index: 2000;
  /* background-color: rgb(0 0 0 / 31%); */
  /* backdrop-filter: blur(20px); */
  padding-block: 10px;
  text-align: center;
  margin-inline-start: 25px;
}

.log-sign{
  display: flex;
    gap: 20px;
}

.logout{
  background-color: rgb(255, 234, 0);
  border: 2px solid rgb(255, 221, 0);
  outline: none;
  padding: 10px;
  color: black;
  cursor: pointer;
}

.fonts{
  display: flex;
  gap: 10px;
}

.fonts > button {
  padding: 5px;
  cursor: pointer;
}

.ctg-btn > button {
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
}

.navlinks > a {
  text-decoration: none;
}

.navlinks > a > li {
  color: white;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttons > a > button {
  background-color: rgb(255, 234, 0);
  border: 2px solid rgb(255, 221, 0);
  outline: none;
  padding: 10px;
  color: black;
  cursor: pointer;
}

.navlinks > .close {
  display: none;
}

.hambar {
  display: none;
}

.navlinks > .swiper{
  margin: 0;
    width: 100%;
}

/* .navlinks > .swiper > .swiper-wrapper > .swiper-slide:nth-child(5) {
  width: 120px !important;
} */

/* .navlinks > .swiper > .swiper-wrapper > .swiper-slide:nth-child(6) {
  width: 160px !important;
} */

.sign-up-btn > button{
  background-color: rgb(255, 234, 0);
  border: 2px solid rgb(255, 221, 0);
  outline: none;
  padding: 6px;
  color: black;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  border-radius: 10px;
}

@media only screen and (max-width: 1000px) {
  .sign-up {
    gap: 10px;
  }
  .navlinks {
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    /* width: 100%; */
    align-items: center;
  }

  .sign-up > h2 {
    display: flex;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
  }

  .navlinks > a > li {
    font-size: 14px;
  }

  /* .sign-up > .logoOrButtons{
    display: flex;
    width: 100%;
    justify-content: space-between;
  } */

  .display-none {
    display: none;
  }

  .buttons > a > button {
    display: none;
  }

  .hambar {
    display: none;
  }

  .hambar > .bar {
    width: 25px;
    height: 3px;
    background-color: white;
  }
}

@media only screen and (max-width: 777px) {
  .sign-up > img {
    width: 100px;
  }

  .buttons > a > button {
    padding: 6px;
  }
  .navlinks{
   width: 70%;
   margin-inline-start: 50px;
  }

  /* .ctg-btn > button{
    color: orange;
  } */
}

@media only screen and (max-width: 490px){
  .navlinks{
    width: 66%;
    margin-inline-start: 65px;
   }
}

@media only screen and (max-width: 470px){
  .navlinks{
    width: 60%;
    margin-inline-start: 65px;
   }
}

@media only screen and (max-width: 425px){
  .navlinks{
    width: 56%;
    margin-inline-start: 75px;
   }
}

@media only screen and (max-width: 400px) {
  .buttons > a > button {
    display: none;
  }

  .sign-up > img {
    width: 90px;
    border: 3px solid yellow;
    border-radius: 50%;
  }

  .navlinks{
    padding: 7px 0 0 0;
    width: 54%;
    margin-inline-start: 56px;
  }

  .logout{
    padding: 5px;
  }

  /* .buttons-for-signup {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .buttons-for-signup > a > button {
    background-color: rgb(255, 234, 0);
    border: 2px solid rgb(255, 221, 0);
    outline: none;
    padding: 5px;
    color: black;
    cursor: pointer;
  } */
}
