.sign-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* margin-block-end: 30px; */
  background-color: rgba(0, 0, 0, 0.517);
  backdrop-filter: blur(20px);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.sign-up > img {
  width: 180px;
}

.navlinks {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: space-evenly;
  transition: all 0.3s ease-in-out;
}

.navlinks > a {
  text-decoration: none;
}

.navlinks > a > li {
  color: white;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttons > a > button {
  background-color: rgb(255, 234, 0);
  border: 2px solid rgb(255, 221, 0);
  outline: none;
  padding: 10px;
  color: black;
  cursor: pointer;
}

.navlinks > .close {
  display: none;
}

.hambar {
  display: none;
}

.buttons-for-signup {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .navlinks {
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    padding: 30px;
    background-color: #121212;
  }

  .navlinks > .close {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 16px;
    color: white;
    background-color: orangered;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    display: block;
  }

  .display-none {
    display: none;
  }

  .hambar {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
  }

  .hambar > .bar {
    width: 25px;
    height: 3px;
    background-color: white;
  }
}

@media only screen and (max-width: 777px) {
  .sign-up > img {
    width: 140px;
  }

  .buttons > a > button {
    padding: 6px;
  }
}

@media only screen and (max-width: 400px) {
  .buttons > a > button {
    display: none;
  }

  .sign-up > img {
    width: 100px;
  }

  .buttons-for-signup {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .buttons-for-signup > a > button {
    background-color: rgb(255, 234, 0);
    border: 2px solid rgb(255, 221, 0);
    outline: none;
    padding: 5px;
    color: black;
    cursor: pointer;
  }
}
